<div class="container nav-container">
  <!-- <div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
  </div> -->
  <ul class="nav navbar-nav">
    <li class="active"><a href="<%=root_path%>">Home</a></li>
    <li><a href="<%=new_status_path%>">Update</a></li>
    <li><a href="<%=all_status_status_index_path%>">People</a></li>
    <li><a href="<%=status_report_status_index_path%>">Report</a></li>
    <li><a onclick="alert('Not implemented Yet!')">History</a></li>
  </ul>
</div>
