<div class="form-subgroup">
  <%=form.label :name %>
  <%=form.text_field :name, :class => 'form-control' %>
</div>
<div class="form-subgroup">
  <%=form.label :description %>
  <%=form.text_area  :description, :class => 'form-control' %>
</div>
