<% if @today_statuses.blank? %>
  <h2>No info available</h2>
<% else %>
  <%=render :partial => 'report_template',
            :locals => {
              :today_statuses => @today_statuses,
              :is_website_view => true
            }
  %>
  <% if params[:action] != 'prev_status'%>
    <%=render :partial => "form_for_email"%>
    <%=link_to "Email View", status_report_status_index_path(:email_view => 1), :target => '_blank'%>
  <% end %>
<% end  %>
