<% if @today_statuses.blank? %>
  <h2>No info available</h2>
<% else %>
  <% if @users_not_updated_status && @users_not_updated_status.any? %>
    <div>
      <h3>Users who have not updated their status:</h3>
      <p>
        <%=@users_not_updated_status.collect(&:name).join(', ')%>
      </p>
    </div>
  <% end %>
  <h3>Status:</h3>
  <%=render :partial => 'report_template',
            :locals => {
              :today_statuses => @today_statuses,
              :risk_documents => @risk_documents,
              :is_website_view => true
            }
  %>
  <% if params[:action] != 'prev_status'%>
    <%=render :partial => "form_for_email"%>
    <%=link_to "Email View", status_report_status_index_path(:email_view => 1), :target => '_blank'%>
  <% end %>
<% end  %>
