
table {
    border-collapse: collapse;    
    font-family: monospace;
    overflow: auto;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

.title, .small, .impediments{
  width: 10%
}

.what-was-done-today, .plan-for-tomorrow{
    width: 40%;
}

tr:nth-child(even) {background-color: #f5f5f5}
