// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue-color: #0275d8;

body{
  padding-top: 50px;
  background-color: #F0;
  font-family: Georgia, serif;
}

.app-container {
  width: 80%;
  margin: 0 50px;
}

a{
  cursor: pointer;
}

a.major-link{
  text-decoration: underline;
}

ul li{
  list-style-type: none;
}

.form-control{
    width:60%
}

label{
  font-weight: 600;
}

label.control-label, .template label.main-label{
  font-size: 25px;
  color: #CB2823;
  padding: 0;
}

.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.btn-default{
  background-color: #005eb8;
  color: white;
}

.error{
  color: #cc0000;
}

.template{
  width: 85%;
  min-height: 300px;
}

.big-font{
  font-size: 24px;
}

.margin-div{
  margin-top: 25px;
}


.no-text-decor{
  text-decoration: underline;
}

.list-font{
  font-size: 20px;
}

.float-right{
  float:right;
}

.bold-link{
  font-weight: 800;
}

.form-subgroup{
  padding-top: 10px;
  label{
    display: block;
  }
}

.hero-tag{
  font-size: 30px;
  color: darkorange;
}

.remove-task{
  position: relative;
  float: right;
  left: -175px;
  top: -44px;
}
.remove-task a{
  border: 1px solid red;
  color: red;
  padding: 5px;
  &:hover{
    text-decoration: none;
  }
}

.add-more{
  padding: 5px;
  border: 1px solid;
  text-decoration: none;
}

.add-more:hover{
  text-decoration: none;
}

.edit-link-on-page{
  margin-left: 15%;
}

.top-space{
  margin-top: 20px;
}

.email{
  background-color: yellow;
}
.email:before{
  content: '';
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}


.flash{
  border: 1px solid black;
  padding: 10px;
  width: 80%;
}

.flash-error{
  color: red;
}

.flash-success{
  color: green;
}

.link-section{
  position: absolute;
  right: 40px;
  top: 30px;
  color: $blue-color;
  cursor: pointer;
  font-weight: 900;
  z-index: 100;
  opacity: 0.9;
  background-color: white;

  .layout_link{
    float: right;
    font-size: 24px;
    color: red;
  }

  .layout_links{
    font-size: 14px;
    clear: both;
  }

  ul li{
    list-style-type: none;
    border: 1px solid;
    border-top: none;
    padding: 4px 24px;
    margin-right: 30px;
  }

  ul li:first-child {
    border-top: 1px solid;
  }
}

.layout_links{
  display: none;
}

.table th, .table td {
  vertical-align: middle
}

.tomorrow_tasks .control-label {
  color: green;
}

.form-label {
  width: 8em;
}

.m-t-5 {
  margin-top: 5px;
}


.m-t-10 {
  margin-top: 10px;
}

.form input[type='text'], textarea {
  width: 50%;
}

textarea {
  vertical-align: middle
}

.button {
  color: #233FBF;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
  border-radius: 7px;
  width: 10%;
}

::placeholder {
  font-size: 12px;
}
