// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  padding-top: 50px;
  background-color: #F0;
  font-family: monospace;
}

a{
  cursor: pointer;
}

a.major-link{
  text-decoration: underline;
}


.form-control{
    width:60%
}

label{
  font-weight: 600;
}

label.control-label, .template .label{
  font-size: 25px;
  color: #CB2823;
}

.btn-default{
  background-color: #005eb8;
  color: white;
}

.error{
  color: #cc0000;
}

.template{
  width: 100%;
  min-height: 300px;
}

.big-font{
  font-size: 24px;
}

.margin-div{
  margin-top: 25px;
}


.no-text-decor{
  text-decoration: underline;
}

.list-font{
  font-size: 20px;
}

.float-right{
  float:right;
}

.bold-link{
  font-weight: 800;
}

.form-subgroup{
  padding-top: 10px;
  label{
    display: block;
  }
}
