<!DOCTYPE html>
<html>
<head>
  <title>TeamStatus</title>
  <%= stylesheet_link_tag    'report' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags if self.respond_to?("protect_against_forgery?")%>
</head>
<body>
  <div class="clearfix">    
    <%= yield %>
  </div>
</body>
</html>
