<!DOCTYPE html>
<html>
<head>
  <title>TeamStatus</title>
  <style>

    table {
      border-collapse: collapse;
      font-family: Georgia, serif;
      overflow: auto;
    }

    table, th, td {
      border: 1px solid black;
      text-align: center;
      height: 30px;
    }

    table {
      width: 100%;
    }

    .title, .small, .impediments{
    // width: 10%
    }

    .pivotal-column{
      text-align: left;
      padding-left: 10px;
      padding-top: 10px
    }

    .what-was-done-today, .plan-for-tomorrow{
      width: 33%;
    }

    tr:nth-child(even) {background-color: #f5f5f5}

  </style>
  <%= csrf_meta_tags if self.respond_to?("protect_against_forgery?")%>
</head>
<body>
  <div class="clearfix">    
    <%= yield %>
  </div>
</body>
</html>
